[href="index.html"] {
    border: solid 2px orange;
    padding: 5px;
    border-radius: 10px;
    color: orange;
    box-shadow: 0.5px 0.5px 10px orange;
}

[href="index.html"]:hover {
    transition: all 0.5s ease-in-out;
    background-color: orange;
    color: white;
    transition: all 0.5s ease-out;
    box-shadow: -0.5px -0.5px 20px #ffffff;
}